html{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

html, body{
    margin: 0;
}

h1{
    text-align: center;
}

.page{
    display: none;
}

#lobby{
    color: lightgrey
}

#lobby #startGame{
    display: block;
    position: fixed;
    right: 10%;
    bottom: 10%;
    width: 20%;
    height: 10%
}

#lobby #playerList{
    display: flex;
    flex-direction: column;
}

#lobby .player{
    color: white;
    width: 300px;
    font-size: x-large;
    text-align: center;
}

#role-reveal img{
    height: 99vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#emergencyButtonImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 99vh
}