html{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

html, body{
    margin: 0;
}

h1{
    text-align: center;
}

.page{
    display: none;
}

#lobby{
    color: lightgrey
}

#lobby #startGame{
    display: block;
    position: fixed;
    right: 10%;
    bottom: 10%;
    width: 20%;
    height: 10%
}

#lobby #playerList{
    display: flex;
    flex-direction: column;
}

#lobby .player{
    color: white;
    width: 300px;
    font-size: x-large;
    text-align: center;
}

#role-reveal img{
    height: 99vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#emergencyButtonImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 99vh
}

#emergencyButton{
    display: block;
    position: relative;
    top: -75vh;
    margin-left: auto;
    margin-right: auto;
    width: 40vh;
    height: 40vh;
    background-color: #FF000010;
}

/* Meeting page */
#votingBox{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 3%;
    row-gap: 4%;
}

.playerVoteBox{
    flex: none;
    background-color: rgb(253, 246, 238);
    text-align: center;
    border-radius: 2vh;
}

.playerVoteBox h2{
    
}