html{
	height: 100vh;
}

body{
	background-image: url("background.jpg");
	background-color: black;
	font-family: arial;
	color: white;
	font-size: 100%;
	height: 100%;
	margin: 0;
}

.flashes{
	font-size: 3vh;
	font-weight: bold;
	color: pink;
}

.page{
	display: none;
}

.title{
	font-family: 'Joff';
	font-size: 10vh;
	text-align: center;
	background-color: rgb(255 255 255 / 60%);
	margin-bottom: 5px;
	padding-top: 5px;
    margin-top: 0px;
}

h2{
	font-size: 3vh;
}

footer{
	bottom:0;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

/* Role Reveal */

/*
.impList{
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	text-align: center;
}

.impList img{
	width: 30%;
}*/

/* Game */

#mapButton{
	float: right;
	height: 6vh;
	margin: 2vh;
}

.page, .fullscreen{
	height: 100vh;
	width: 100vw;
	margin: 0;
}

#taskBox ul{
	padding-left: 3vw;
	padding-right: 3vw;
}

#taskBox li{
	display:block;
	list-style-type: none;
	font-size: 3vh;
	padding: 1vh;
	border-radius: 1vh;
	margin: 5px 0px;
	background-color: #C0C0C080;
}

#taskBox .partially-complete{
	background-color: #FFFF0080;
}

#taskBox .completed{
	background-color: #00FF0080;
}

#abilities{
	position: fixed;
	bottom: 0;
	background-color: #808080C0;
	padding: 4vw;
	border-radius: 0 4vw 0 0;
}

#abilities img{
	width: 22vw;
	padding: 1vw
}

/*#user{
	margin: auto;
	padding: 0.5vh;
	text-align:center;
	font-size: 3vh;
	width: 40%;
	//background-color: <USER COLOUR>;
	border-radius: 2vw;
}


#impCount{
	position: absolute;
	color: red;
	font-size: 3.5vw;
	margin: 0;
	left: 39%;
	top: 24.75%;
}*/

@font-face {
	font-family: "Joff";
	src: url("joff.ttf");
}