<!DOCTYPE HTML>
<html>
<head>
	{% if title %}
	    <title>Among Us IRL - {{title}}</title>
	{% else %}
	    <title>Among Us IRL</title>
	{% endif %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    {% block content %}{% endblock %}
	<footer>
		<!-- Derived from Flask docs -->
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
	</footer>
</body>
</html>