<!DOCTYPE html>
<html>
    <head>
        <title>Among Us IRL - Central</title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="/static/central.js"></script>
        <link rel="stylesheet" href="/static/central.css">
    </head>
    <body>
        <div class="page" id="lobby">
            <h1>Lobby</h1>
            <p>Player's names will appear below</p>
            <div id="playerList"></div>
            <button id="startGame" onclick="startGame()">Start Game</button>
        </div>
        <div class="page" id="role-reveal">
            <audio id="revealAudio">
                <source src="static/reveal.wav" type="audio/wav">
            </audio>
            <img src="static/reveal.png">
        </div>
        <div class="page" id="game">

        </div>
        <div class="page" id="voting">

        </div>
    </body>
</html>