<!DOCTYPE HTML>
<head>
	{% if title %}
	<title>Among Us IRL - {{title}}</title>
	{% else %}
	<title>Among Us IRL - {{title}}</title>
	{% endif %}
	<link rel="stylesheet" href="styles.css"></style>
</head>
<html>
	<h1 class="title">Sign In</h1>
	<table style="margin-left:auto;margin-right:auto;" id="menu">
		<TR><TD style="background-color:#FF8EBAA0"><a href="waiting.html-0">Lisa</a></TD></TR>
		<TR><TD style="background-color:#212121A0"><a href="waiting.html-1">Anna</a></TD></TR>
		<TR><TD style="background-color:#FF7F00A0"><a href="waiting.html-2"><small>Annie</small></a></TD></TR>
		<TR><TD style="background-color:#D0FF00A0"><a href="waiting.html-3">Benjamin</a></TD></TR>
		<TR><TD style="background-color:#00FFFFA0"><a href="waiting.html-4">Connor</a></TD></TR>
		<TR><TD style="background-color:#FFFFFFA0"><a href="waiting.html-5">Jeff</a></TD></TR>
		<TR><TD style="background-color:#0000FFA0"><a href="waiting.html-6">Joelle</a></TD></TR>
		<TR><TD style="background-color:#FFFF00A0"><a href="waiting.html-7">Nabla</a></TD></TR>
		<TR><TD style="background-color:#663300A0"><a href="waiting.html-8">Sigh</a></TD></TR>
		<TR><TD style="background-color:#FF0000A0"><a href="waiting.html-9">Sophy</a></TD></TR>
		<TR><TD style="background-color:#FF7F00A0"><a href="waiting.html-10">Felisha</a></TD></TR>
		<TR><TD style="background-color:#202020A0"><a href="waiting.html-11">Cherry</a></TD></TR>
		<TR><TD style="background-color:#00A000A0"><a href="waiting.html-12">Ericknash</a></TD></TR>
		<TR><TD style="background-color:#6C7A3AA0"><a href="waiting.html-13">Freyah</a></TD></TR>
		<TR><TD style="background-color:#77ff00A0"><a href="waiting.html-14">Hailee</a></TD></TR>
	</table>
</html>